
## <summary>policy for binjit</summary>


########################################
## <summary>
##	Transition to binjit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`binjit_domtrans',`
	gen_require(`
		type binjit_t, binjit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, binjit_exec_t, binjit_t)
')


########################################
## <summary>
##	Execute binjit server in the binjit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`binjit_initrc_domtrans',`
	gen_require(`
		type binjit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, binjit_initrc_exec_t)
')


########################################
## <summary>
##	Search binjit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`binjit_search_lib',`
	gen_require(`
		type binjit_var_lib_t;
	')

	allow $1 binjit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read binjit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`binjit_read_lib_files',`
	gen_require(`
		type binjit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, binjit_var_lib_t, binjit_var_lib_t)
')

########################################
## <summary>
##	Manage binjit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`binjit_manage_lib_files',`
	gen_require(`
		type binjit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, binjit_var_lib_t, binjit_var_lib_t)
')

########################################
## <summary>
##	Manage binjit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`binjit_manage_lib_dirs',`
	gen_require(`
		type binjit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, binjit_var_lib_t, binjit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a binjit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`binjit_admin',`
	gen_require(`
		type binjit_t;
		type binjit_initrc_exec_t;
		type binjit_var_lib_t;
	')

	allow $1 binjit_t:process { ptrace signal_perms };
	ps_process_pattern($1, binjit_t)

	binjit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 binjit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, binjit_var_lib_t)

')

